<div class="table-responsive">

  <table class="table table-dark">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Room</th>
        <th>Price</th>
        <th>Check in</th>
        <th>Check out</th>
        <th>Details</th>
        <th>Number of people</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody >
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.customer.name %>  </td>
          <td><%= booking.room.room_number %></td>
          <td><%= booking.price %> </td>
          <td><%= booking.check_in %></td>
          <td><%= booking.check_out %></td>
          <td><%= booking.details %></td>          
          <td><%= booking.number_of_people %></td>
          <td><%= booking.status %></td>
          <td><%= link_to 'Show', booking %></td>
          <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
          <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>