<!-- 

<div class="container">
  <div class="row">

    <div class="col-sm-12 col-lg-6">
      <p>Column 1</p>
    </div>

    <div class="col-sm-12 col-lg-6">
      <p>Column 2</p>
    </div>

  </div>
</div>
 -->

<h1>Bookings</h1>

<%= form_tag bookings_path, :method => 'get', :id => "bookings_search", class: 'form-inline my-2 my-lg-0' do %>
  <p>
    <%= text_field_tag :search, params[:search], class: 'form-control mr-sm-2' %>
    <%= submit_tag "Search", :name => nil, class: 'btn btn-outline-success my-2 my-sm-0' %>
  </p>
<% end %>

<%= will_paginate @customers %>


<div id="bookings"><%= render 'bookings' %></div>
