<%= simple_form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :mobile %>
    <%= f.text_field :mobile %>
  </div>

  <div class="field">
    <%= f.label :birthdate %>
    <%= f.date_select :birthdate %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>


  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

<br>
<br>

<h1> Booking</h1>

  <%= f.fields_for :bookings do |f1| %>

  <div class="field">
    <%= f1.label :details %>
    <%= f1.text_area :details %>
  </div>

  <div class="form-select col-sm-12 col-lg-6", id:"rooms_select">
    <%= f1.label :room_id %>
    <%#= f1.number_field :room_id %>
    <%= f1.select :room_id, @room_options, class:"form-select col-sm-12 col-lg-6" %>
  </div>

  <div class="form-group col-sm-12 col-lg-6">
    <%= f1.label :check_in %>
    <%= f1.date_select :check_in %>
  </div>


  <div class="form-group col-sm-12 col-lg-6">
    <%= f1.label :check_out %>
    <%= f1.date_select :check_out, class:"form-control" %>
  </div>

  <div class="form-group col-sm-12 col-lg-6">
    <%= f1.label :price %>
    <%= f1.text_field :price, class:"form-control" %>
  </div>


  <div class="form-group col-sm-12 col-lg-6">
    <%= f1.label :number_of_people %>
    <%= f1.text_field :number_of_people, class:"form-control" %>
  </div>

  <div class="form-group col-sm-12 col-lg-6">
    <%= f1.label :status %>
    <%= f1.select :status, ["Booked", "CheckedIn", "CheckedOut", "Cancelled"] %>
  </div>


  <div class="form-group col-sm-12 col-lg-6">
    <%= f1.label :images %>
    <%= f1.file_field :images, multiple: true, direct_upload: true %>
  </div>

  <%= f1.input_field :signature, as: :hidden, class: 'signature_pad_input' %>

  <div class="signature_pad text-center">
    <div class="signature_pad_body">
      <canvas></canvas>
    </div>
    <div class="signature_pad_footer">
      <div class="text-muted">Sign above</div>
      <button type="button" class="btn btn-default signature_pad_clear">Clear</button>
    </div>
  </div>

  <%end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
