<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :room_number %>
    <%= f.text_field :room_number %>
  </div>

  <div class="field">
    <%= f.label :room_type %>
    <%= f.text_field :room_type %>
  </div>

  <div class="field">
    <%= f.label :ac %>
    <%= f.check_box :ac %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="form-group col-sm-12 col-lg-6">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true, direct_upload: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
