<!DOCTYPE html>
<html>
  <head>
    <title>Jagruti</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" 
              content="width=device-width, 
                       initial-scale=1" /> 
  
        
  </head>

  

  <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>


  <body>
  	

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">JAGRUTI</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item active">
        <%= link_to "Home",   root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Book', home_booking_options_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Bookings', bookings_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'Customers', customers_path, class: "nav-link" %>
      </li>

      <% if current_user %>
        <li class="nav-item"> <%=  link_to "Sign Out",  destroy_user_session_path, method: 'delete', class: "nav-link" %></li>
      <% else %>
        <li class="nav-item"> <%= link_to "Log in/Sign Up",  new_user_session_path, class: "nav-link" %></li>
      <% end %>


    </ul>

  </div>
</nav>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="alert alert-danger"><%= flash[:error] %></p>
    <% end %>
     <div id="fullDiv">
      <%= yield %>
    </div>
    
  </body>
</html>
